@import "bootstrap/scss/bootstrap";

.tasks-list {
  list-style: none
}

.new-task {
  margin-left: 16px;
}

.edit{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.edit a{
  color: white !important;
}